* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem 0;
}

header nav {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo h1 {
    font-size: 2rem;
    margin-left: 20px;
}

header ul {
    list-style: none;
    display: flex;
}

header ul li {
    margin-right: 20px;
}

header ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}

header ul li a:hover {
    text-decoration: underline;
}

.hero {
    background: #5c6bc0;
    color: white;
    text-align: center;
    padding: 5rem 1rem;
}

.hero h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.search-form {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.search-form select, .search-form button {
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}

.search-form button {
    background-color: #ff6f61;
    color: white;
    cursor: pointer;
}

.search-form button:hover {
    background-color: #e45748;
}


.about, .contact, .feedback {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.about h3, .contact h3, .feedback h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.about p, .contact p, .feedback p {
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

.about a, .contact a, .feedback a {
    color: #5c6bc0;
    text-decoration: none;
    font-weight: bold;
}

.about a:hover, .contact a:hover, .feedback a:hover {
    text-decoration: underline;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 3rem;
}